<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> <%= blog.ownerName%>'s Blog</h1>
        <h2><%= blog.title%></h2>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row">

        <div class="well">
            <!-- <h3><span class="fa fa-laptop"></span> Local</h3> -->
            <p>
                <%= blog.posts.length%> Posts:
                <hr />
                <% for (var i in blog.posts) { var post = blog.posts[i]; %>
                    <a href="/post/<%= post.id%>"><%= post.title%></a><br>
                    [created at: <%= post._id.getTimestamp().format("mm/dd/yyyy hh:MM:ss")%>]<br>
                    <% if(post.modifiedDate) { %>
                        [modified at: <%= post.modifiedDate.format("mm/dd/yyyy hh:MM:ss")%>]<br>
                    <% } %>
                    <br>
                <% } %>
            </p>
        </div>

    </div>
</div>
</body>
</html>