<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Edit Post</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <hr>

    <form action="/post/<%= post.id %>" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" name="title" value="<%= post.title %>">
        </div>
        <div class="form-group">
            <label>Content:</label>
            <input type="text" class="form-control" name="content" value="<%= post.content %>">
        </div>
        <div class="form-group">
            <label>Image:</label><br>
            <% if (post.image && post.image.data && post.image.data.length > 0) { %>
                <img src="<%= image %>" style="height: 250px; width: 250px" />
            <% } %>
            <input type="file" class="form-control" name="image">
        </div>
        
        <button type="submit" class="btn btn-warning btn-lg">Save Post</button>
    </form>

</div>
</div>
</body>
</html>